<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>time_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{143,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{285,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1,287},{140,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{427,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{569,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{287,287},{140,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{711,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{853,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{573,287},{140,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{995,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1137,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{859,287},{140,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1279,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1421,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1145,287},{140,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1563,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1705,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1431,287},{140,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{140,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,304}</string>
                <key>textureRect</key>
                <string>{{1847,1},{140,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>time.png</string>
            <key>size</key>
            <string>{1988,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5731dd497e0def25623986fbf52627e:8c1c00efd713e25d2c3d03c71bb64918:2a1ad14612967335499add5c3f4ab356$</string>
            <key>textureFileName</key>
            <string>time.png</string>
        </dict>
    </dict>
</plist>
